/*header styles*/
.header-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
    margin-top: 67px;
}
.nav-ul {
    display: flex;
    margin-top: 82px;
}
.nav-li {
    margin-right: 20px;
}

/*section styles*/
.section-1 {
    display: flex;
    justify-content: space-around;
}
.left-block {
    width: 600px;

}
.right-block {
     width: 800px;
     height: 526.63px;
}
.text-1 {
    font-size: 78px;
}